<div class="trashtable">
    <table>
        <tr>
          <th>From</th>
          <th>Description</th>
          <th>Time</th>
        </tr>
        <tr>
          <td><img class="starimg" src="https://cdn0.iconfinder.com/data/icons/essentials-solid-glyphs-vol-1/100/User-Account-128.png"> User 1</td>
          <td>User request</td>
          <td>2 weeks ago</td>
        </tr>
        <tr>
          <td><img class="starimg" src="https://cdn2.iconfinder.com/data/icons/company-13/48/bold3-03-128.png"> Management Department</td>
          <td>Document authorize</td>
          <td>1 hour ago</td>
        </tr>
        <tr>
          <td><img class="starimg" src="https://cdn0.iconfinder.com/data/icons/essentials-solid-glyphs-vol-1/100/User-Account-128.png"> User 3</td>
          <td>Group alert</td>
          <td>30 minutes ago</td>
        </tr>
      
      </table>
</div>

