<div class="trashtable">
    <table>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Modified</th>
        </tr>
        <tr>
          <td><img class="starimg" src="https://cdn1.iconfinder.com/data/icons/document-edit-line/64/Document-doc-file-paper-report-bundle-sheaf-256.png"> Article</td>
          <td>5.5 MB</td>
          <td>1 month ago</td>
        </tr>
        <tr>
          <td><img class="starimg" src="https://cdn0.iconfinder.com/data/icons/mini-documents-and-folders/32/_checklist-256.png"> Text Snippet</td>
          <td>700 KB</td>
          <td>38 minutes ago</td>
        </tr>
        <tr>
          <td><img class="starimg" src="https://cdn3.iconfinder.com/data/icons/chooseanycolor/128/pdf-256.png"> Scanned pdf</td>
          <td>700 KB</td>
          <td>30 minutes ago</td>
        </tr>
      </table>
</div>

