<div class="trashtable">
    <table>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Modified</th>
        </tr>
        <tr>
          <td><img class="trashimg" src="https://cdn1.iconfinder.com/data/icons/document-edit-line/64/Document-doc-file-paper-report-bundle-sheaf-256.png"> Article</td>
          <td><img class="trashimg" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_restore_48px-256.png"> 5.5 MB</td>
          <td>1 month ago</td>
        </tr>
        <tr>
          <td><img class="trashimg" src="https://cdn1.iconfinder.com/data/icons/neutro-essential/32/document-256.png"> Text Snippet</td>
          <td><img class="trashimg" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_restore_48px-256.png"> 700 KB</td>
          <td>30 minutes</td>
        </tr>
        <tr>
          <td><img class="trashimg" src="https://cdn4.iconfinder.com/data/icons/multimedia-75/512/multimedia-48-256.png"> Scanned Documents</td>
          <td><img class="trashimg" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_restore_48px-256.png"> 800 KB</td>
          <td>5 minutes ago</td>
        </tr>
        <tr>
          <td><img class="trashimg" src="https://cdn1.iconfinder.com/data/icons/business-people-33/32/business_meeting_negotiations_management_team_meeting_room-256.png"> Meeting</td>
          <td><img class="trashimg" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_restore_48px-256.png"> 550 KB</td>
          <td>1 minutes ago</td>
        </tr>
      </table>
</div>

