<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <div class="header">
    <div class="topnav">
      <a routerLink="/admin-search"><img class="topnavicon" src="https://cdn2.iconfinder.com/data/icons/lightly-icons/30/search-240.png"></a>
      <a routerLink="/admin-notify"><img class="topnavicon" src="https://cdn1.iconfinder.com/data/icons/material-design-icons-light/24/bell-256.png"></a>
      <a routerLink="/admin-info"><img class="topnavicon" src="https://cdn4.iconfinder.com/data/icons/office-thick-outline/36/office-14-256.png"></a>
  </div>
  </div>
  
  <div class="row">
    <div class="column side" >
      <div class="sidebar">
        <a routerLink="/define-user"><img class="navicon" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_add_48px-512.png">Define User</a>
        <a routerLink="/manage-user"><img class="navicon" src="https://cdn4.iconfinder.com/data/icons/business-and-office-line-vol-4/52/documents__records__information__storage-256.png">Manage User</a>
        <a routerLink="/bug-report"><img class="navicon" src="https://cdn1.iconfinder.com/data/icons/document-edit-line/64/Document-doc-file-folder-bundle-sheaf-archive-256.png" >Bug Report</a>
        <a routerLink="/admin-notification"><img class="navicon" src="https://cdn2.iconfinder.com/data/icons/squircle-ui/32/Notification_settings-256.png" >Notification Settings</a>
        <a routerLink="/group-settings"><img class="navicon" src="https://cdn0.iconfinder.com/data/icons/company-corporate-hierarchy/237/employee-017-256.png" >Group Settings</a>
      </div>
    </div>
    <div class="column middle">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
