<div class="trashtable">
    <table>
        <tr>
          <th>User</th>
          <th>Description</th>
          <th>Modified</th>
        </tr>
        <tr>
          <td><img class="starimg" src="https://cdn0.iconfinder.com/data/icons/essentials-solid-glyphs-vol-1/100/User-Account-128.png"> User 3</td>
          <td>Workflow</td>
          <td>1 month ago</td>
        </tr>
        <tr>
          <td><img class="starimg" src="https://cdn0.iconfinder.com/data/icons/essentials-solid-glyphs-vol-1/100/User-Account-128.png"> User 2</td>
          <td>Document authorize</td>
          <td>38 minutes ago</td>
        </tr>
        <tr>
          <td><img class="starimg" src="https://cdn2.iconfinder.com/data/icons/company-13/48/bold3-03-128.png"> Financial Department</td>
          <td>Group notification</td>
          <td>30 minutes ago</td>
        </tr>
        <button class="button button1">Add Members</button>
      </table>
</div>

